.history {
  background: #1b1b1b;
  width: 100%;
  height: 500px;
  margin-top: 400px;
  display: block;
}

.history_left {
  width: 50%;
  float: left; /* Elementlarni yonma-yon joylashtirish uchun float ishlatildi */
  position: relative;
}

.history_left img {
  position: relative;
  width: 100%;
  height: 550px;
  top: -150px;
  left: 30px;
  z-index: 10;
}

.historyBg2 {
  width: 230px;
  height: 230px;
  position: absolute;
  z-index: 10;
  background: #52b947;
  margin-top: -180px;
}

.history_right {
  width: 40%;
  float: right; /* Elementni o'ngga joylashtirish */
  position: relative;
}

.historyBg3 {
  width: 200px;
  height: 240px;
  background: #52b947;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  text-align: center;
  padding: 20px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.historyBg3 span {
  font-size: 74px;
  color: white;
}

.historyBg3 h3 {
  font-size: 54px;
  color: white;
  font-family: "Outfit", sans-serif;
}

.historyBg3 p {
  margin-top: 10px;
  color: white;
  text-transform: capitalize;
  font-family: "Outfit", sans-serif;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  opacity: 1;
  position: relative;
  bottom: 10px;
}

/* Swiper */
.mySwiper .swiper-pagination {
  bottom: -50px;
  color: #52b947;
}

.swiper-pagination-bullet {
  background-color: #52b947;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: background-color 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}

.swiper-pagination-bullet-active {
  background-color: #52b947;
  width: 16px;
  height: 16px;
  transform: scale(1.2);
  opacity: 1;
}

.swiper-pagination-bullet:hover {
  background-color: #52b947;
  transform: scale(1.3);
  opacity: 0.9;
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
  .historyBg3 {
    width: 150px;
    height: 180px;
    padding: 15px;
    margin-left: 10px;
    bottom: 10px;
    right: 10px;
  }

  .history_left img {
    height: 400px;
    top: -120px;
    left: 10px;
  }

  .history_right {
    margin-top: 50px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .historyBg3 h3 {
    font-size: 36px;
  }

  .historyBg3 p {
    font-size: 14px;
  }

  .history_left {
    width: 100%;
  }

  .history_right {
    width: 100%;
    margin-top: 30px;
  }

  .history_boxs {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .history_left img {
    height: 350px;
    top: -100px;
    left: 0;
  }
}
